.pixel {
    height: 6.25%;
    width: 6.25%;
    flex-shrink: 0;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 840px;
    border-style: solid;
    border-width: 2px;
}